@mixin card-default() {

    // Solid Cards
    &.card-primary {
        @include theme(primary, solid);
    }

    &.card-success {
     @include theme(success, solid);
    }

    &.card-danger {
     @include theme(danger, solid);
    }

    &.card-warning {
     @include theme(warning, solid);
    }

    &.card-info {
     @include theme(info, solid);
    }

    &.card-light {
     @include theme(light, solid);
    }

    &.card-dark {
     @include theme(dark, solid);
    }
    
    // Outline Cards
    &.card-outline-primary {
         @include theme(primary, outline);
         border: solid 1px #0097e6;
     }

     &.card-outline-success {
         @include theme(success, outline);
         border: solid 1px #44bd32;
     }

     &.card-outline-danger {
         @include theme(danger, outline);
         border: solid 1px #c23616;
     }

     &.card-outline-warning {
         @include theme(warning, outline);
         border: solid 1px #e1b12c;
     }

     &.card-outline-info {
         @include theme(info, outline);
         border: solid 1px #40739e;
     }

     &.card-outline-light {
         @include theme(light, outline);
         border: solid 1px #f5f6fa;
     }

     &.card-outline-dark {
         @include theme(dark, outline);
         border: solid 1px #2f3640;
     }

    &-body {
        color: $default-text-color;
        padding: .9rem;
        font-size: .8rem;

        .card-title {
            font-size: 1.1rem;
            font-family: 'Gentona';
            text-transform: uppercase;
        }

        .card-subtitle {
            font-size: .8rem;
            margin-top: -10px;
        }

        .card-text {
            font-size: .8rem;
            margin: 2% 0;
            color: $default-text-color;
        }

        .card-link {
            @include link-standard;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .7rem;
        }
    }

    &-header {
        font-family: 'Gentona';
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $default-text-color;
    }

    &-footer {
        text-align: right;
        font-size: .8rem;
        color: $default-text-color-light;
    }

    &-img-overlay {
        color: $default-text-white;
        padding: .9rem;
        font-size: .8rem;

        .card-title {
            font-size: 1.1rem;
            font-family: 'Gentona';
            text-transform: uppercase;
            color: $default-text-white;
        }

        .card-subtitle {
            font-size: .8rem;
            margin-top: -10px;
        }

        .card-text {
            font-size: .8rem;
            margin: 2% 0;
            color: $default-text-white;
        }

        .card-link {
            @include link-standard;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .7rem;
        }
    }

    .list-group-light {
        @include theme(light, solid);
    }

    .list-group-success {
        @include theme(success, solid);
    }

    .list-group-danger {
        @include theme(danger, solid);
        color: $default-text-white;
    }

    .list-group-warning {
        @include theme(warning, solid);
    }
}