@mixin card-default() {

    // Solid Cards
    &.card-primary {
        @include theme(solid, primary, card);
    }

    &.card-success {
     @include theme(solid, success, card);
    }

    &.card-danger {
     @include theme(solid, danger, card);
    }

    &.card-warning {
     @include theme(solid, warning, card);
    }

    &.card-info {
     @include theme(solid, info, card);
    }

    &.card-light {
     @include theme(solid, light, card);
    }

    &.card-dark {
     @include theme(solid, dark, card);
    }
    
    // Outline Cards
    &.card-outline-primary {
         @include theme(outline, primary, card);
         border: solid 1px $default-primary-dark;
     }

     &.card-outline-success {
         @include theme(outline, success, card);
         border: solid 1px $default-success-dark;
     }

     &.card-outline-danger {
         @include theme(outline, danger, card);
         border: solid 1px $default-danger-dark;
     }

     &.card-outline-warning {
         @include theme(outline, warning, card);
         border: solid 1px $default-warning-dark;
     }

     &.card-outline-info {
         @include theme(outline, info, card);
         border: solid 1px $default-info-dark;
     }

     &.card-outline-light {
         @include theme(outline, light, card);
         border: solid 1px $default-light;
     }

     &.card-outline-dark {
         @include theme(outline, dark, card);
         border: solid 1px $default-dark-dark;
     }

    &-body {
        color: $default-text-color;
        padding: .9rem;
        font-size: .8rem;

        .card-title {
            font-size: 1.1rem;
            font-family: 'Gentona';
            text-transform: uppercase;
        }

        .card-subtitle {
            font-size: .8rem;
            margin-top: -10px;
        }

        .card-text {
            font-size: .8rem;
            margin: 2% 0;
            color: $default-text-color;
        }

        .card-link {
            @include link-standard;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .7rem;
        }
    }

    &-header {
        font-family: 'Gentona';
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $default-text-color;
    }

    &-footer {
        text-align: right;
        font-size: .8rem;
        color: $default-text-color-light;
    }

    &-img-overlay {
        color: $default-text-white;
        padding: .9rem;
        font-size: .8rem;

        .card-title {
            font-size: 1.1rem;
            font-family: 'Gentona';
            text-transform: uppercase;
            color: $default-text-white;
        }

        .card-subtitle {
            font-size: .8rem;
            margin-top: -10px;
        }

        .card-text {
            font-size: .8rem;
            margin: 2% 0;
            color: $default-text-white;
        }

        .card-link {
            @include link-standard;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .7rem;
        }
    }

    .list-group-light {
        @include theme(solid, light, card);
    }

    .list-group-success {
        @include theme(solid, success, card);
    }

    .list-group-danger {
        @include theme(solid, danger, card);
        color: $default-text-white;
    }

    .list-group-warning {
        @include theme(solid, warning, card);
    }
}