@mixin check-simple-default() {

    @include checkbox-theme(simple);

    label {
        cursor: pointer;
        position: relative;
        margin: auto;
        width: 18px;
        height: 18px;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0);

        &:before {
            content: "";
            position: absolute;
            top: -15px;
            left: -15px;
            width: 48px;
            height: 48px;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        svg {
            position: relative;
            z-index: 1;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #c8ccd4;
            stroke-width: 1.5;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease;

            path {
                stroke-dasharray: 60;
                stroke-dashoffset: 0;
            }
    
            polyline {
                stroke-dasharray: 22;
                stroke-dashoffset: 66;
            }
        }

        &:hover {
            &:before {
                opacity: 1;
            }
    
            svg {
                stroke: $default-dark;
            }
        }
    }

    input:checked {
        & + label svg {
            stroke: $default-dark;
        }

        & + label svg path {
            stroke-dashoffset: 60;
            transition: all 0.3s linear;
        }
        
        & + label svg polyline {
            stroke-dashoffset: 42;
            transition: all 0.2s linear;
            transition-delay: 0.15s;
        }
    }

    p {
        font-size: .8rem;
        margin-left: .5rem;
    }
}

@mixin check-square-default() {

    @include checkbox-theme(box);

    input {
        display: none;

        &:checked {
            & + label i {
                opacity: 1;
            }
        }
    }

    label {
        width: 23px;
        height: 23px;
        display: inline-block;
        border: 1px solid $default-dark;
        text-align: center;
        line-height: 18px;
        margin-right: 6px;
        border-radius: 3px;
        cursor: pointer;

        i {
            font-size: 14px;
            opacity: 0;
        }
    }
}

@mixin check-rounded-default() {

   @include checkbox-theme(rounded);

    label {
        display: inline-block;
        color: $default-text-color;
        cursor: pointer;
        position: relative;

        span {
            display: inline-block;
            background-color: transparent;
            position: relative;
            width: 25px;
            height: 25px;
            transform-origin: center;
            border: solid 2px $default-text-color;
            margin-right: 10px;
            border-radius: 50%;
            vertical-align: -7px;
            transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89);
    
            &:before {
                content: "";
                width: 0;
                height: 2px;
                border-radius: 2px;
                background-color: $default-text-color;
                position: absolute;
                transform: rotate(45deg);
                transition: width 50ms ease 50ms;
                transform-origin: 0% 0%;
                top: 11px;
                left: 7px;
            }
    
            &:after {
                content: "";
                width: 0;
                height: 2px;
                background-color: $default-text-color;
                position: absolute;
                transform: rotate(305deg);
                transition: width 50ms ease 50ms;
                transform-origin: 0% 0%;
                top: 14px;
                left: 9px;
            }
        }

        &:hover {
            span {
                &:before {
                    width: 5px;
                    transition: width 100ms ease;
                }

                &:after {
                    width: 10px;
                    transition: width 150ms ease 100ms;
                }
            }
        }
    }

    input {
        display: none;

        &:checked + label {
            span {
                background-color: $default-text-color;
                transform: scale(1.25);

                &:after {
                    width: 10px;
                    background-color: $default-text-white;
                    transition: width 150ms ease 100ms;
                }

                &:before {
                    width: 5px;
                    background: $default-text-white;
                    transition: width 150ms ease 100ms;
                }
            }

            &:hover {
                span {
                    background-color: $default-text-color;
                    transform: scale(1.25);

                    &:after {
                        width: 10px;
                        background-color: $default-text-white;
                        transition: width 150ms ease 100ms;
                    }

                    &:before {
                        width: 5px;
                        background-color: $default-text-white;
                        transition: width 150ms ease 100ms;
                    }
                }
            }
        }
    }
}

@mixin checkbox-theme($type) {

    &.check-primary {
        @include theme($type, primary, checkbox);
    }
    &.check-success {
        @include theme($type, success, checkbox);
    }
    &.check-danger {
        @include theme($type, danger, checkbox);
    }
    &.check-warning {
        @include theme($type, warning, checkbox);
    }
    &.check-info {
        @include theme($type, info, checkbox);
    }
    &.check-light {
        @include theme($type, light, checkbox);
    }
    &.check-dark {
        @include theme($type, dark, checkbox);
    }
}