//Themes
@mixin theme($theme, $type) {
	@if $theme == primary {
		@if $type == solid {
			@include card($type, #0097e6, $default-text-white, #00a8ff, $default-text-white);
			@include toast($type, #0097e6, $default-text-white);
		}
		@else if $type == outline {
			@include card($type, #0097e6, $default-text-white, #00a8ff, $default-text-white);
			@include toast($type, #0097e6c4, $default-text-color);
		}
		@else if $type == custom {
			@include toast($type, #0097e6c4, $default-text-white);
		}
	}
	@else if $theme == success {
		@if $type == solid {
			@include list-group(#4cd137, #44bd32);
			@include card($type, #44bd32, $default-text-white, #4cd137, $default-text-white);
			@include toast($type, #44bd32, $default-text-white);
		}
		@else if $type == outline {
			@include card($type, #44bd32, $default-text-white, #4cd137, $default-text-white);
			@include toast($type, #45bd32c4, $default-text-color);
		}
		@else if $type == custom {
			@include toast($type, #45bd32c4, $default-text-white);
		}
	}
	@else if $theme == danger {
		@if $type == solid {
			@include list-group(#e84118, #c23616);
			@include card($type, #c23616, $default-text-white, #e84118, $default-text-white);
			@include toast($type, #c23616, $default-text-white);
		}
		@else if $type == outline {
			@include card($type, #c23616, $default-text-white, #e84118, $default-text-white);
			@include toast($type, #c23616c4, $default-text-color);
		}
		@else if $type == custom {
			@include toast($type, #c23616c4, $default-text-white);
		}
	}
	@else if $theme == warning {
		@if $type == solid {
			@include list-group(#fbc531, #e1b12c);
			@include card($type, #e1b12c, $default-text-white, #fbc531, $default-text-white);
			@include toast($type, #e1b12c, $default-text-white);
		}
		@else if $type == outline {
			@include card($type, #e1b12c, $default-text-white, #fbc531, $default-text-white);
			@include toast($type, #e1b12cc4, $default-text-color);
		}
		@else if $type == custom {
			@include toast($type, #e1b12cc4, $default-text-white);
		}
	}
	@else if $theme == info {
		@if $type == solid {
			@include card($type, #40739e, $default-text-white, #487eb0, $default-text-white);
			@include toast($type, #40739e, $default-text-white);
		}
		@else if $type == outline {
			@include card($type, #40739e, $default-text-white, #487eb0, $default-text-white);
			@include toast($type, #40739ec4, $default-text-color);
		}
		@else if $type == custom {
			@include toast($type, #40739ec4, $default-text-white);
		}
	}
	@else if $theme == light {
		@if $type == solid {
			@include list-group(#f5f6fa, #dcdde1);
			@include card($type, #f5f6fa, $default-text-color, #dcdde1, $default-text-color);
			@include toast($type, #f5f6fa, $default-text-color);
		}
		@else if $type == outline {
			@include card($type, #f5f6fa, $default-text-color, #dcdde1, $default-text-color);
			@include toast($type, $default-text-color, $default-text-color);
		}
		@else if $type == custom {
			@include toast($type, #f5f6fac4, $default-text-color);
		}
	}
	@else if $theme == dark {
		@if $type == solid {
			@include card($type, #2f3640, $default-text-white, #353b48, $default-text-white);
			@include toast($type, #2f3640, $default-text-white);
		}
		@else if $type == outline {
			@include card($type, #2f3640, $default-text-white, #353b48, $default-text-white);
			@include toast($type, #2f3640c4, $default-text-color);
		}
		@else if $type == custom {
			@include toast($type, #2f3640c4, $default-text-white);
		}
	}
}