@mixin toast-default() {
    
    // Default Toast
    &.toast-primary {
        @include theme(solid, primary, toast);
    }

    &.toast-success {
        @include theme(solid, success, toast);
    }

    &.toast-danger {
        @include theme(solid, danger, toast);
    }

    &.toast-warning {
        @include theme(solid, warning, toast);
    }

    &.toast-info {
        @include theme(solid, info, toast);
    }

    &.toast-light {
        @include theme(solid, light, toast);
    }

    &.toast-dark {
        @include theme(solid, dark, toast);
    }

    
    // Custom Solid Toast
    &.toast-custom-primary-solid {
        @include theme(custom, primary, toast);
    }
    
    &.toast-custom-success-solid {
        @include theme(custom, success, toast);
    }

    &.toast-custom-danger-solid {
        @include theme(custom, danger, toast);
    }

    &.toast-custom-warning-solid {
        @include theme(custom, warning, toast);
    }

    &.toast-custom-info-solid {
        @include theme(custom, info, toast);
    }

    &.toast-custom-light-solid {
        @include theme(custom, light, toast);
    }

    &.toast-custom-dark-solid {
        @include theme(custom, dark, toast);
    }

    
    // Custom Outline Toast
    &.toast-custom-primary-outline {
        @include theme(outline, primary, toast);
    }
    
    &.toast-custom-success-outline {
        @include theme(outline, success, toast);
    }

    &.toast-custom-danger-outline {
        @include theme(outline, danger, toast);
    }

    &.toast-custom-warning-outline {
        @include theme(outline, warning, toast);
    }

    &.toast-custom-info-outline {
        @include theme(outline, info, toast);
    }

    &.toast-custom-light-outline {
        @include theme(outline, light, toast);
    }

    &.toast-custom-dark-outline {
        @include theme(outline, dark, toast);
    }

    &-header {
        img {
            width: 25px;
            height: 25px;
        }

        h5, h4, h3, h2, h1 {
            font-size: 1rem;
            font-family: 'Gentona';
            text-transform: uppercase;
        }

        p {
            font-size: .8rem;
            font-style: italic; 
        }

        button {
            &:focus {
                box-shadow: none;
                border: none;
                outline: none;
            }
        }
    }

    &-body {
        font-size: .8rem;
    }
}