@mixin toast-default() {
    &-header {
        img {
            width: 25px;
            height: 25px;
        }

        h5, h4, h3, h2, h1 {
            font-size: 1rem;
            font-family: 'Gentona';
            text-transform: uppercase;
        }

        p {
            font-size: .8rem;
            font-style: italic; 
        }

        button {
            &:focus {
                box-shadow: none;
                border: none;
                outline: none;
            }
        }
    }

    &-body {
        font-size: .8rem;
    }
}