@mixin toast-default() {
    
        // Default Toast
        &.toast-primary {
            @include theme(primary, solid);
        }

        &.toast-success {
            @include theme(success, solid);
        }

        &.toast-danger {
            @include theme(danger, solid);
        }

        &.toast-warning {
            @include theme(warning, solid);
        }

        &.toast-info {
            @include theme(info, solid);
        }

        &.toast-light {
            @include theme(light, solid);
        }

        &.toast-dark {
            @include theme(dark, solid);
        }

        
        // Custom Solid Toast
        &.toast-custom-primary-solid {
            @include theme(primary, custom);
        }
        
        &.toast-custom-success-solid {
            @include theme(success, custom);
        }

        &.toast-custom-danger-solid {
            @include theme(danger, custom);
        }

        &.toast-custom-warning-solid {
            @include theme(warning, custom);
        }

        &.toast-custom-info-solid {
            @include theme(info, custom);
        }

        &.toast-custom-light-solid {
            @include theme(light, custom);
        }

        &.toast-custom-dark-solid {
            @include theme(dark, custom);
        }

        
        // Custom Outline Toast
        &.toast-custom-primary-outline {
            @include theme(primary, outline);
        }
        
        &.toast-custom-success-outline {
            @include theme(success, outline);
        }

        &.toast-custom-danger-outline {
            @include theme(danger, outline);
        }

        &.toast-custom-warning-outline {
            @include theme(warning, outline);
        }

        &.toast-custom-info-outline {
            @include theme(info, outline);
        }

        &.toast-custom-light-outline {
            @include theme(light, outline);
        }

        &.toast-custom-dark-outline {
            @include theme(dark, outline);
        }

    &-header {
        img {
            width: 25px;
            height: 25px;
        }

        h5, h4, h3, h2, h1 {
            font-size: 1rem;
            font-family: 'Gentona';
            text-transform: uppercase;
        }

        p {
            font-size: .8rem;
            font-style: italic; 
        }

        button {
            &:focus {
                box-shadow: none;
                border: none;
                outline: none;
            }
        }
    }

    &-body {
        font-size: .8rem;
    }
}