
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #FFFFFF;

$default-text-color: #353b48;
$default-text-color-light: #718093;
$default-body: #f5f6fa;
$default-button-color: #00A8FF;
$default-button-color-hover: #0097e6;
$default-link-color: #00A8FF;
$default-link-color-hover: #0097e6;

$default-fb-color: #4A81D6;
$default-gmail-color: #DF4D40;

@font-face {
	font-family: 'Gentona';
	src: url('Rene Bieder - Gentona ExtraBold DEMO.otf') format('opentype');
}

@mixin button-standard() {
	background-color: $default-button-color;
	color: $white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;

	&:hover {
		background-color: $default-button-color-hover;
		transition: all 0.3s ease-in-out;
	}

	&:focus {
		box-shadow: none;
	}
}

@mixin button-rounded() {
	border-radius: 50px;
}

@mixin button-rounded-left() {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: none !important;
	border-bottom-right-radius: none !important;
}

@mixin button-rounded-right() {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

@mixin link-standard() {
	font-size: .8rem;
	text-decoration: underline;
	color: $default-link-color;

	&:hover {
		color: $default-link-color-hover;
		transition: all 0.3s ease-in-out;
	}
}