// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$default-text-color: #353b48;
$default-text-white: #ffffff;
$default-text-color-light: #718093;
$default-body: #f5f6fa;

	// Color for Buttons
	$default-button-color: #00A8FF;
	$default-button-color-hover: #0097e6;

	// Color for Links
	$default-link-color: #00A8FF;
	$default-link-color-hover: #0097e6;

	//Color for Facebook
	$default-fb-color: #4A81D6;

	// Color for Gmail
	$default-gmail-color: #DF4D40;

	// Color for Primary
	$default-primary: #00a8ff;
	$default-primary-dark: #0097e6;

	// Color for Success
	$default-success: #4cd137;
	$default-success-dark: #44bd32;

	// Color for Danger
	$default-danger: #e84118;
	$default-danger-dark: #c23616;

	// Color for Warning
	$default-warning: #fbc531;
	$default-warning-dark: #e1b12c;

	// Color for Info
	$default-info: #487eb0;
	$default-info-dark: #40739e;

	// Color for Light
	$default-light: #f5f6fa;
	$default-light-dark: #dcdde1;

	// Color for Dark
	$default-dark: #353b48;
	$default-dark-dark: #2f3640;

// Fonts
@font-face {
	font-family: 'Gentona';
	src: url('Rene Bieder - Gentona ExtraBold DEMO.otf') format('opentype');
}