// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'themes';
@import 'modal';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body.agm-standard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    .agm-standard-login {
        margin: 5rem 10%;

        h1, h2, h3, h4, h5 {
            text-align: center;
            font-size: 2rem;
            font-family: 'Gentona';
            color: $default-text-color;
        }
    
        img {
            width: 50%;
            height: 50%;
            margin: 30px 25% 60px 25%;
            border-radius: 100%;
        }
    
        form.standard-form {
            .form-group {
                margin-bottom: .5rem !important;
                
                label {
                    color: $default-text-color;
                    font-size: .9rem;
                }

                .form-control {
                    color: $default-text-color-light;
                    border-radius: 50px;
                    font-size: .8rem;
                    padding: 0 .9rem;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border: solid 1px rgb(139, 139, 139);
                    }
                }
            }
        }

        .standard-link {
            @include link-standard;
        }

        a.standard-forgot {
            @include link-standard;
            float: right;
            margin: -5px 0 0 0;
        }

        a.standard-register {
            @include link-standard;
            float: left;
            width: 100%;
            text-align: center;
        }

        .row {
            margin-top: 4rem;
            margin-bottom: 2px;

            .divider {
                vertical-align: middle !important;
            }

            p {
                font-size: .9rem;
                text-transform: uppercase;
                color: $default-text-color-light;
                text-align: center;
                margin-top: 3px;
            }
        }

        .standard-btn-group {
            margin: 1rem 0;
            padding: 0;

            .standard-btn-rounded-left {
                @include button-standard;
                @include button-rounded-left;
                background-color: $default-fb-color;

                &:hover {
                    background-color: $default-fb-color;
                }
            }

            .standard-btn-rounded-right {
                @include button-standard;
                @include button-rounded-right;
                background-color: $default-gmail-color;

                &:hover {
                    background-color: $default-gmail-color;
                }
            }
        }
    }

    .card {
        &.card-primary {
            @include card-theme(solid, primary);
        }
    
        &.card-success {
            @include card-theme(solid, success);
        }
    
        &.card-danger {
            @include card-theme(solid, danger);
        }
    
        &.card-warning {
            @include card-theme(solid, warning);
        }
    
        &.card-info {
            @include card-theme(solid, info);
        }
    
        &.card-light {
            @include card-theme(solid, light);
        }
    
        &.card-dark {
            @include card-theme(solid, dark);
        }


        &.card-border-primary {
            @include card-theme(border, primary);
            border: solid 1px #0097e6;
        }
    
        &.card-border-success {
            @include card-theme(border, success);
            border: solid 1px #44bd32;
        }
    
        &.card-border-danger {
            @include card-theme(border, danger);
            border: solid 1px #c23616;
        }
    
        &.card-border-warning {
            @include card-theme(border, warning);
            border: solid 1px #e1b12c;
        }
    
        &.card-border-info {
            @include card-theme(border, info);
            border: solid 1px #40739e;
        }
    
        &.card-border-light {
            @include card-theme(border, light);
            border: solid 1px #f5f6fa;
        }
    
        &.card-border-dark {
            @include card-theme(border, dark);
            border: solid 1px #2f3640;
        }
        
        &-body {
            color: $default-text-color;
            padding: .9rem;
            font-size: .8rem;

            .card-title {
                font-size: 1.1rem;
                font-family: 'Gentona';
                text-transform: uppercase;
            }

            .card-subtitle {
                font-size: .8rem;
                margin-top: -10px;
            }

            .card-text {
                font-size: .8rem;
                margin: 2% 0;
                color: $default-text-color;
            }

            .card-link {
                @include link-standard;
                text-decoration: none;
                text-transform: uppercase;
                font-size: .7rem;
            }
        }

        &-header {
            font-family: 'Gentona';
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $default-text-color;
        }

        &-footer {
            text-align: right;
            font-size: .8rem;
            color: $default-text-color-light;
        }

        &-img-overlay {
            color: $white;
            padding: .9rem;
            font-size: .8rem;

            .card-title {
                font-size: 1.1rem;
                font-family: 'Gentona';
                text-transform: uppercase;
            }

            .card-subtitle {
                font-size: .8rem;
                margin-top: -10px;
            }

            .card-text {
                font-size: .8rem;
                margin: 2% 0;
                color: $white;
            }

            .card-link {
                @include link-standard;
                text-decoration: none;
                text-transform: uppercase;
                font-size: .7rem;
            }
        }

        .list-group-default {
            .list-group-item {
                @include list-group-item(default);
            }
        }

        .list-group-success {
            .list-group-item {
                @include list-group-item(success);
            }
        }

        .list-group-danger {
            .list-group-item {
                @include list-group-item(danger);
            }
        }

        .list-group-warning {
            .list-group-item {
                @include list-group-item(warning);
            }
        }
    }

    .btn-standard {
        display: block;
        @include button-standard;
        @include button-rounded;
    }

    .blockquote {
        font-size: .9rem;
        color: $default-text-color;

        &-footer {
            font-size: .8rem;
            color: $default-text-color-light;
        }
    }

    .modal {
        .modal-dialog {
            @include modal-default;

            &.modal-primary {
               @include modal(#0097e6, $white);
            }
            &.modal-success {
               @include modal(#44bd32, $white);
            }
            &.modal-danger {
               @include modal(#c23616, $white);
            }
            &.modal-warning {
               @include modal(#e1b12c, $white);
            }
            &.modal-info {
               @include modal(#40739e, $white);
            }
            &.modal-light {
               @include modal(#f5f6fa, $default-text-color);
            }
            &.modal-dark {
               @include modal(#2f3640, $white);
            }
        }
    }
}