// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'global';
@import 'card';
@import 'toggle';
@import 'checkbox';
@import 'table';
@import 'themes';
@import 'modal';
@import 'toast';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body.agm-standard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @include header-text;
    @include input-form-standard;
    @include link-standard;
    @include paragraph-text;
    @include button-standard;

    .agm-standard-login {
        margin: 5rem 10%;

        h1, h2, h3, h4, h5 {
            text-align: center;
            font-size: 2rem;
        }
    
        img {
            width: 50%;
            height: 50%;
            margin: 30px 25% 60px 25%;
            border-radius: 100%;
        }

        .standard-btn-group {
            margin: 1rem 0;
            padding: 0;

            .standard-btn-rounded-left {
                @include button-standard;
                @include button-rounded-left;
                background-color: $default-fb-color;
                color: $default-text-white;

                &:hover {
                    background-color: $default-fb-color;
                }
            }

            .standard-btn-rounded-right {
                @include button-standard;
                @include button-rounded-right;
                background-color: $default-gmail-color;
                color: $default-text-white;

                &:hover {
                    background-color: $default-gmail-color;
                }
            }
        }
    }

    // Cards
   .card {
        @include card-default;
   }

   // Toasts
   .toast {
       @include toast-default;
   }

   // Checkboxes
   .checkbox-simple {
        @include check-simple-default;
   }
   .checkbox-square {
       @include check-square-default;
   }

   .checkbox-rounded {
       @include check-rounded-default;
   }

   //Toggles
   .toggle {

        &.toggle-light {
            @include toggle-light;
        }

        &.toggle-ios {
            @include toggle-ios;
        }

        input {
            display: none;

            &,
            &:after,
            &:before,
            & *,
            & *:after,
            & *:before,
            & + label {
                box-sizing: border-box;

                &::selection {
                    background: none;
                }
            }

            & + label {
                outline: 0;
                display: block;
                width: 3em;
                position: relative;
                height: 1.5rem;
                cursor: pointer;

                &:after,
                &:before {
                    content: "";
                    display: block;
                    position: relative;
                    width: 50%;
                    height: 100%;
                }

                &:after {
                    left: 0;
                }

                &:before { 
                    display: none;
                }
            }

            &:checked + label:after {
                left: 50%;
            }
        }
   }
}