// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'global';
@import 'card';
@import 'toggle';
@import 'radio';
@import 'checkbox';
// @import 'table';
@import 'themes';
@import 'modal';
@import 'toast';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body.agm-standard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @include header-text;
    @include input-form-standard;
    @include link-standard;
    @include paragraph-text;
    @include button-standard;
    @include modal-default;

    .agm-standard-login {
        margin: 5rem 10%;

        h1, h2, h3, h4, h5 {
            text-align: center;
            font-size: 2rem;
        }
    
        img {
            width: 50%;
            height: 50%;
            margin: 30px 25% 60px 25%;
            border-radius: 100%;
        }

        .standard-btn-group {
            margin: 1rem 0;
            padding: 0;

            .standard-btn-rounded-left {
                @include button-standard;
                @include button-rounded-left;
                background-color: $default-fb-color;
                color: $default-text-white;

                &:hover {
                    background-color: $default-fb-color;
                }
            }

            .standard-btn-rounded-right {
                @include button-standard;
                @include button-rounded-right;
                background-color: $default-gmail-color;
                color: $default-text-white;

                &:hover {
                    background-color: $default-gmail-color;
                }
            }
        }
    }

    // Cards
   .card {
        @include card-default;
   }

    // Toasts
   .toast {
       @include toast-default;
   }

   // Checkboxes
   .checkbox-simple {
        @include check-simple-default;
   }

   .checkbox-square {
       @include check-square-default;
   }

   .checkbox-rounded {
       @include check-rounded-default;
   }

   //Toggles
   .toggle {
        @include toggle-default;

        &.toggle-light {
            @include toggle-light;
        }
        &.toggle-ios {
            @include toggle-ios;
        }
        &.toggle-skewed {
            @include toggle-skewed;
        }
        &.toggle-flat {
            @include toggle-flat;
        }
        &.toggle-flip {
            @include toggle-flip;
        }
   }

   // Radio
   .radio-group {
       .radio-simple {
           @include radio-simple;
       }

       .radio-icon {
           @include radio-icon;
       }
   }
}